{
  "presets": ["env", "react"],
  "plugins": [
    "babel-plugin-transform-decorators", 
    ["zent", {"automaticStyleImport": true}],
    ["import", { "libraryName": "vant", "libraryDirectory": "lib", "style": true }, "vant"]
  ]
}